<div class="row marketing">
    <h4>Buscar Cotizaciones</h4>

    <table border="0" item-width="100%">
        <tr>
            <td><h4>Codigo:</h4> </td>
            <td><input type="text" size="15"></td>
            <td><h4>Cliente:</h4></td>
            <td><input type="text" size="15"></td>
            <td><h4> Desde:</h4> </td>
            <td> <input type="text" size="15"></td>
            <td><h4> Hasta:</h4></td>
            <td><input type="text" size="15"></td>
            <td><h4>Vendedor:</h4> </td>
            <td><input type="select" size="15"></td>
        </tr>

    </table>
    <br>
    <button class="btn">Buscar</button> <button class="btn">Nueva</button>
</div>